/2020-11-16-CEID-compart_mif_li.csv
/2020-11-09-CEID-compart_mif_li.csv
/2020-11-02-CEID-compart_mif_li.csv
/2020-10-26-CEID-compart_mif_li.csv
/2020-10-19-CEID-compart_mif_li.csv
/2020-10-12-CEID-compart_mif_li.csv
/2020-10-05-CEID-compart_mif_li.csv
/2020-09-28-CEID-compart_mif_li.csv
/2020-09-21-CEID-compart_mif_li.csv
